#!/usr/bin/python

from __future__ import absolute_import
from celery import Celery

{% for item in client %}
app = Celery('test_celery',
             broker='amqp://jimmy:jimmy123@{{ client[item].ip }}/jimmy_vhost',
             backend='rpc://',
             include=['test_celery.tasks'])
{% endfor %} 
